@import "global.less";

.button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  &.large {
    height: 50px;
    width:300px;
  }
}
.disabled-button {
  background-color:#999999;
}
.advantage-button-font {
  font-family: @advantage-font;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}

.advantage-blue-background-btn {
  background-color: @advantage-blue;
  &:hover {
    background-color:@advantage-hover-blue;
  }
  &:active {
    border: 3px @advantage-blue solid;
  }
}

.vmox-button-font {
  font-family: @vmox-font;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

.vmox-gold-background-btn {
  background-color: @vmox-gold;
  &:hover {
    background-color:@vmox-hover-gold;
  }
  &:active {
    border: 3px @vmox-gold solid;
  }
}