@advantage-blue: #003056;
@advantage-hover-blue:#325977;
@advantage-gold: #b4914b;
@advantage-hover-gold: #896F38;

@vmox-gold: #ffc627;
@vmox-hover-gold: #CC9E1F;
@vmox-black: ##1B1A1B;

@link-blue: #2173A3;
@vmox-font: 'Roboto', sans-serif;

@no-value-text-grey: #cccccc;
@no-value-icon-grey: #eaeaea;
@primary-font-color: #333333;
@medium-font-color: #666;
@light-font-color: #999999;
@line-and-outline-grey:#cccccc;
@background-grey:#f2f2f2;

@advantage-font: Calibri;

.section-header {
  font-family: @advantage-font;
  font-size: 30px;
  color: @primary-font-color;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  
  span {
    font-weight: bold;
  }
}
.line-space {
  width: 100%;
  height: 50px;
}

a {
  text-decoration: none;
  color: @link-blue;
}
.bm-0 {
  margin-bottom: 0px;
}
.tm-0 {
  margin-top: 0px;
}
.lm-0 {
  margin-left: 0px;
}
.rm-0 {
  margin-right: 0px;
}
.bm-5 {
  margin-bottom: 5px;
}
.tm-5 {
  margin-top: 5px;
}
.lm-5 {
  margin-left: 5px;
}
.rm-5 {
  margin-right: 5px;
}
.bm-10 {
  margin-bottom: 10px;
}
.tm-10 {
  margin-top: 10px;
}
.lm-10 {
  margin-left: 10px;
}
.rm-10 {
  margin-right: 10px;
}
.bm-15 {
  margin-bottom: 15px;
}
.tm-15 {
  margin-top: 15px;
}
.lm-15 {
  margin-left: 15px;
}
.rm-15 {
  margin-right: 15px;
}
.bm-25 {
  margin-bottom: 25px;
}
.tm-25 {
  margin-top: 25px;
}
.lm-25 {
  margin-left: 25px;
}
.rm-25 {
  margin-right: 25px;
}
.bm-35 {
  margin-bottom: 35px;
}
.tm-35 {
  margin-top: 35px;
}
.lm-35 {
  margin-left: 35px;
}
.rm-35 {
  margin-right: 35px;
}
.main-content {
  max-width: 1000px;
  position: relative;
  margin-left: -500px;
  left: 50%;
}
.center {
  text-align: center;
}
hr {
  &.vmox, &.advantage {
    background-color: @line-and-outline-grey; 
    height: 1px; 
    border: 0;
  }
}