@import "global.less";

h1 {
  font-weight: bold;
  &.vmox {
    color:@vmox-gold;
    font-family: @vmox-font;
    font-size: 60px;
  }
  &.advantage {
    color:@advantage-blue;
    font-family: @advantage-font;
    font-size: 64px;
  }
}

h2 {
  font-weight: bold;
  &.vmox {
    color:@vmox-gold;
    font-family: @vmox-font;
    font-size: 40px;
  }
  &.advantage {
    color:@advantage-blue;
    font-family: @advantage-font;
    font-size: 43px;
  }
}

h3 {
  color:#333;
  font-weight: normal;
  &.vmox {
    font-family: @vmox-font;
    font-size: 36px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 38px;
  }
}

h4 {
  color:#333;
  font-weight: bold;
  &.vmox {
    font-family: @vmox-font;
    font-size: 28px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 30px;
  }
}

h5 {
  color:#333;
  font-weight: bold;
  &.vmox {
    font-family: @vmox-font;
    font-size: 20px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 22px;
  }
}

.label {
  color:#333;
  font-weight: bold;
  &.vmox {
    font-family: @vmox-font;
    font-size: 14px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 15px;
  }
}

a {
  &.vmox {
    font-family: @vmox-font;
    font-size: 16px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 17px;
  }
}

.content {
  color: @primary-font-color;
  font-weight: normal;
  line-height:20px;
  &.vmox {
    font-family: @vmox-font;
    font-size: 14px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 15px;
  }
}

.light-content {
  color: @medium-font-color;
  font-weight: normal;
  line-height: 20px;
  &.vmox {
    font-family: @vmox-font;
    font-size: 14px;
    
  }
  &.larger {
      font-size: 16px;
      line-height: 22px;
    }
  
  &.advantage {
    font-family: @advantage-font;
    font-size: 15px;
    
    &.larger {
      font-size: 17px;
    }
  }
}