@import "global.less";

.h5 {
  color:#333;
  font-weight: bold;
  &.vmox {
    font-family: @vmox-font;
    font-size: 20px;
  }
  &.advantage {
    font-family: @advantage-font;
    font-size: 22px;
  }
}