@import "../button.less";
@import "../headings.less";
@import "../global.less";

.main-content {
  .image-container {
    width: 100%;
    text-align: center;
    img {
      width: 90%;
    }
  }
}