@import "../button.less";
@import "../headings.less";
@import "../global.less";
@import "../widgets.less";


figcaption {
  font-family: Roboto !important;
  color: @vmox-gold !important;
  font-weight: 700 !important;
}
.expand {
  cursor: url("../img/plus_cursor.png") 25 25, pointer;
}
html, body {
  padding: 0px;
  margin: 0px;
}
.square {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    &.vmox-gold {
        background-color: @vmox-gold;
    }
    &.vmox-black {
        background-color: @vmox-black;
        color:white;
    }
    &.alert-green {
        background-color:@alert-green;
    }
    &.alert-yellow {
        background-color: @alert-yellow;
    }
    &.alert-orange {
        background-color: @alert-orange;
    }
    &.alert-red {
        background-color: @alert-red;
        color: white;
    }
    &.no-value-text-gray {
        background-color: @no-value-text-gray;
    }
    &.no-value-icon-gray {
        background-color: @no-value-icon-gray;
    }
    &.primary-font-color {
        background-color: @primary-font-color;
        color: white;
    }
    &.medium-font-color {
        background-color: @medium-font-color;
        color: white;
    }
    &.light-font-color {
        background-color: @light-font-color;
    }
    &.line-and-outline-gray {
        background-color: @line-and-outline-gray;
    }
    &.background-gray {
        background-color: @background-gray;
    }
    &.accent-dark-green {
        background-color: @accent-dark-green;
        color: white;
    }
    &.accent-lime-green {
        background-color: @accent-lime-green;
    }
    &.accent-kelly-green {
        background-color: @accent-kelly-green;
    }
    &.accent-gray {
        background-color: @accent-gray;
        color: white;
    }
    &.accent-purple {
        background-color: @accent-purple;
        color: white;
    }
    &.accent-teal {
        background-color: @accent-teal;
    }
    &.accent-blue {
        background-color: @accent-blue;
    }
    &.accent-brick {
        background-color: @accent-brick;
        color: white;
    }
    &.accent-watermelon {
        background-color: @accent-watermelon;
    }
    &.accent-scarlett {
        background-color: @accent-scarlett;
        color: white;
    }
    &.accent-light-orange {
        background-color: @accent-light-orange;
    }
    &.accent-maize {
        background-color: @accent-maize;
    }
    &.accent-pumpkin-spice {
        background-color: @accent-pumpkin-spice;
    }
    &.link-blue {
        background-color: @link-blue;
        color: white;
    }
    h2 {
        
    }
}