@import "../button.less";
@import "../headings.less";
@import "../global.less";
@import "../widgets.less";

figcaption {
  font-family: Roboto !important;
  color: @vmox-gold !important;
  font-weight: 700 !important;
}
.expand {
  cursor: url("../img/plus_cursor.png") 25 25, pointer;
  &.border {
    border: solid 1px #ccc;
  }
}

ul {
  li {
    font-family: @vmox-font;
    font-size: 16px;
    line-height: 25px;
    color: #666;
  }
}
.end-of-post {
  height: 175px;
  width: 100%;
}
.image-container {
  &.small {
    margin-top: 50px;
    max-height: 500px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .button {
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
  }
}
.blog-side-by-side-container {
    height: 300px;
    margin-bottom: 100px;
    margin-top: 75px;
    .left, .right {
      height: 300px;
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
      img {
          width: 98%;
        }
      .title-row {
        margin-bottom: 10px;
      }
      .image-row {
        
      }
      .button-row {
        text-align: center;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 125px;

      }
    }
    .left {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .right {
      position: absolute;
      left: 50%;
      clear: both;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }